<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>历史详情</title>
    <style>
        div{
            background: #fff;
            margin: 1rem 0;
            padding: 1rem;
            border-radius: 5px;
        }
        h2{
            font-size: 1.5rem;
            margin: 0;
            justify-content: center;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<h2>{{detail.question}}</h2>
<div>{{detail.answer}}</div>
<a href="/">主页</a>
</body>
</html>